.banner{
    width: 100%;
    min-width: 600px;
    border: 1px solid black;
    height: 150px;
    
    background-size: cover;
    background-position-y: 50%;
    background-color: #478f8e;
}

.banner h2{
    color: white;
    margin-left: 2%;
    -webkit-text-stroke: 1px solid black;
}

.card .card-body .card-text p{
    font-size: 2px!important;

}

.img-card img{
    border-radius: 10px;
    width: 90%;
    border: 1px solid;
}

.img-card img:hover {
    
   
     /* Modificado el box-shadow */
     
}

.rojo{
    background-color: #478f8e;
}

.mt-20{
    margin-top: 20%;
}

