html{
  scroll-behavior: smooth;
  
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Roboto', bold;
}

a{
  text-decoration: none;
  color: cadetblue;
  
}

a:hover{
  text-decoration: none;
  color: rgb(61, 101, 102);
}

#video-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    
  }
  
  #video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -6;
  }

  .container h1{
  font-family: 'Roboto', bold;
  font-weight: 700;
  font-style: italic;
  font-size: 100px;
  z-index: 3;
  color: white;
  }

  #ache h3{
    font-family: 'Roboto', medium;
    font-weight: 500;
    font-style: italic;
    font-size: 3
    0px;
    z-index: 3;
  color: white;
  }

  .transparencia{
    
    background-color: rgba(0, 0, 0, 0.248);
  }
  
.barra{
    height: 100px!important;
    background-color: rgba(0, 0, 0, 0.357)!important;
    
  }
.navbar{
  border-bottom: 2px rgb(255, 255, 255) solid;
  height: 100px;
  border-top: rgb(20, 20, 20) 2px solid;
  background-color: white!important;
  
}

.navbar a{
  
  font-weight: 100;
  margin-left: 2%;
  
}

.subtitle a:active, a:hover{
  color: black;
  border-bottom: 1px rgb(255, 168, 168) solid;
  transition: 1,2s;
  
  
}

.borde{
  border-radius: 20px;
}


.navbar .logo {
  
  transition: all 0.9s ease;
}

/* Estilo de la navbar después de hacer scroll */
.navbar.scroll {
 
  transition: all 1s ease;
  
  
  
  
}

.navbar.scroll .ocultado {
  
  
}

/* Estilo del logo después de hacer scroll */
.navbar.scroll .logo {
  width: 60px;
  margin-top:-4%;
}

/* Estilo del contenido */

.custom-container {
  
  position: relative;
}

.custom-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.blackground{
  background-color: black;
}

.portada{
  height: 600px;
}

.mt-10{
  margin-top: 10%;
}

.mt-15{
  margin-top: 15%;
}

.mt-20{
  margin-top: 20%;
}

.ml-10{
margin-left: 10%;
}


#ache::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.504));
  z-index: -1;
}

.wrapper{
  overflow: hidden;
}

.wrapper img{
  width: 100%;
  height: 400px;
  transition:  scale 400ms;
}

.wrapper img:hover{
  transition: ease-in-out 1.s;
  scale: 120%;
}

.wrapper h3{
  position: relative;
  display: flex;
  margin-top: 2%;
  margin-left: 50;
  z-index: 40;
  color: white;
  font-weight: 100;
}

.wra1{
  background-image: url(../imagenes/creativos\ \(6\).png);
  background-size: 120%;
  height: 350px;
}

.wra2{
  background-image: url(../imagenes/japon.jpg);
  background-size: 120%;
  height: 350px;
}

.wra3{
  background-image: url(../imagenes/edificio.jpg);
  background-size: 120%;
  height: 350px;
}


.wra1:hover, 
.wra2:hover, 
.wra3:hover{
  background-size: 140%;
  transition: 1.9s;
}





/* CSS */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}


.barra-lateral{
  position: fixed;
  display: flex;
  justify-content: center;
 
  top: 50%;
  right: 2%;
  z-index: 2000;
}

.barra-lateral a{
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 3px;
  color: grey;
  
}

.barra-lateral a:hover{
  color: #87d1db;
  border: none;
  transition: 1s;
  
}



.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
}


.fondo-subte{
  background-image: url('/imagenes/fondo-subte.jpg');
  background-size: cover;
  height: 600px;

}

.fondo-ciudad{
  background-image: url('/imagenes/creativos\ \(7\).png');
  background-size: cover;
  height: 600px;
}

.texto-inicio{
  margin: 10%;
  margin-top: 20%;
}




.btn-default{
background-color: #000;
color: white;
border: none;
padding: 2%;
font-size: smaller;
letter-spacing: 2px;
}

.btn-default:hover{
  background-color: #2a2a2a;
  transition-duration: 0.7s;
}

.btn-default:active{

}

.navbar-toggler-icon{
  position: absolute;
  right: 5%;
  bottom: 50%;
}

.navbar-toggler-icon:hover{
  position: absolute;
  right: 5%;
  bottom: 50%;
}